*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  background-image: url('../img/email-pattern.png');
  background-repeat: repeat;
}

.logoDavse{
  font-family: 'Fredoka One', cursive;
  font-size: 60px;
  color: #ffffff ;
  padding: 0;
  text-shadow: none;
}

.bg-perso{
  background-color: #EEAD2D;
}

.nav-item{
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.heroSection{
  background-image: url('../img/img-principal.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  text-align: center;
  color: #ffffff;
  
}

h1{
  font-size: 50px;
  font-weight: 900;
  text-shadow: 2px 3px 5px #000000; 
}

.bajada{
  font-size: 18px;
  text-shadow: 2px 3px 5px #000000;
}

.años{
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.expdes{
  display: none;
}

.tituloCabecera{
  padding: 200px 20px 0 40px;
}

.logo1{
  width: 45%;
}

.logo2{
  width: 45%;
}

.logo3{
  width: 35%;
}

.logo4{
  width: 45%;
}

h2{
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  padding: 15px 0;
  color: #EEAD2D;
  text-shadow: 2px 3px 2px #0000009d;
  padding: 20px 0;
}

.box-wrap{
  color: #000000;
}

.box{
  transition:.2s all; 
}

.box-wrap:hover .box{
  filter:blur(3px);
  opacity:.5;
  transform: scale(.98);
  box-shadow:none;
}

.box-wrap:hover .box:hover{
  transform:scale(1);
  filter:blur(0px);
  opacity:1;
}

.btn-outline-primary{
  color: #EEAD2D;
  border: 2px solid #EEAD2D;
}

.btn-outline-primary:hover{
  background-color: #eead2d;
  border: 2px solid #EEAD2D;
}

.contacElementos{
  text-align: center;
  padding: 20px 0;
}

.contacElementos i{
  padding: 5px;
}

/* .flotante {
  display:scroll;
  position:fixed;
  bottom:20px;
  right:-180px;
}

.flotante img{
  width: 40%;
  padding-right: 50px;
  z-index: 100;
} */

.ir-arriba{
  display:none;
  background-repeat:no-repeat;
  font-size:20px;
  color:black;
  cursor:pointer;
  position:fixed;
  bottom:10px;
  right:10px;
  z-index:2;
}

.form{
  z-index: 1;
}

.ir-arriba{
  display:none;
  background-repeat:no-repeat;
  font-size:20px;
  color:black;
  cursor:pointer;
  position:fixed;
  bottom:10px;
  right:10px;
  z-index:2;
}

.textFoot{
  font-size: 15px;
  font-weight: 700;
  padding-top: 20px;
}

@media (min-width: 768px){
  .logo1{
    width: 25%;
    display: block;
  }
  
  .logo2{
    width: 15%;
    display: block;
  }
  .logo3{
    width: 20%;
  }
  
  .logo4{
    width: 30%;
  }

  .heroSection{
    height: 400px;
    text-align: right;
    color: #ffffff;
    font-size: 20px;
    text-shadow: 2px 3px 2px #707070;
  
  }
  
  .tituloCabecera{
    padding: 200px 20px 0 40px;
  }

  .años{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
  }

  .expdes{
    display: inline ;
  }
}

